.header {
  width: 100%;
  position: relative;
  z-index: 1;
  &--home {
    background: {
      image: url(../../assets/kangaroosJumping.jpg);
      color: rgba($gray, 0.5);
      blend-mode: multiply;
      position: 64% 20%;
      size: cover;
      repeat: no-repeat;
    }
    min-height: 90vh;
    @media (min-width: 500px) {
      background-position: 50% 20%;
      min-height: 80vh;
    }
  }
  &--dashboard {
    height: 9em;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
    @media (max-width: $slicknav) {
      height: auto;
    }
  }
}

.masthead {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  @media (min-width: 500px) {
    justify-content: space-between;
  }
}

.header__logo {
  fill: $white;
  display: none;
  min-width: 14rem;
  padding-left: 0;
  @include columns(2);
  @media (min-width: 500px) {
    padding-left: 1.5rem;
  }
  @media (min-width: 1224px) {
    padding-left: 0;
  }
  @media (min-width: $slicknav) {
    display: block;
    margin: 0 auto;
  }
}

.onboard {
  @include columns(12);
  @media (min-width: 500px) {
  @include columns(5);
  }
  @media (min-width: 822px) {
  @include columns(3);
  }
}

.onboard__links-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.onboard__link {
  display: inline-block;
  text-align: center;
  width: 44%;
  overflow: hidden;
  margin: 0 0.4rem;
  transition: background-color 0.2s ease-in-out;
  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $white;
    text-decoration: none;
    padding: 0.25rem;
    border: 1px solid $white;
  }
  &:hover {
    background-color: darken($red, 15%);
  }
  @media (min-width: 500px) {
    width: auto;
  }
}

.nav {
  flex-grow: 1;
  @media (max-width: $slicknav) {
    display: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
}

.nav__item {
  position: relative;
  list-style: none;
  color: $white;
  fill: $white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 3em 0;
  height: 9em;
  &--add {
    align-self: center;
    top: 2em;
  }
  &--active {
    background-color: $mint;
    color: $gray;
    fill: $gray;
  }
  & > svg {
    width: 33%;
  }
  & > span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 1.5em;
  }
  .button {
    position: relative;
    background: $red;
    padding: 1em;
    margin: 0 auto;
    width: 70%;
  }
}

.nav__photo {
  display: block;
  width: 33%;
  border-radius: 50%;
  margin: 0 auto 1em;
}

.subnav__list {
  position: absolute;
  background-color: $white;
  color: $gray;
  fill: $gray;
  box-shadow: 3px 3px 6px rgba($gray, 0.6);
  margin: 0;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: content-box;
  padding: 1em;
  left: 0.3em;
  top: 8.5em;
  &:before {
  	content: '';
  	border-left: 1em solid transparent;
  	border-right: 1em solid transparent;
  	border-bottom: 1em solid $white;
  	position: absolute;
  	top: -16px;
  	left:38%;
  	margin: 0 auto;
  }
  .nav__item--add & {
    top: 5.5em;
    margin: 0 -1em;
  }
}

.subnav__item {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  & > svg {
    width: 100%;
    flex-basis: 1.6em;
    margin-right: 1em;
  }
}

.mobile-nav {
  display: block;
  @media (min-width: $slicknav) {
    display: none;
  }
}

.mobile-nav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.mobile-nav__item {
  list-style: none;
  color: $white;
  background-color: $red;
  border-right: 1px solid $white;
  flex-basis: 33.3%;
  text-align: center;
  font-size: 1.2em;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: darken($red, 15%);
  }
  &:last-of-type {
    border-right: 0;
  }
}

.mobile-subnav__list {
   position: absolute;
   left: 0;
   background: $white;
   width: 100vw;
   color: $gray;
   padding: 1em 0;
   text-align: left;
   box-shadow: 0 3px 3px rgba($gray, 0.6);
  .mobile-nav__item:nth-of-type(1) & {
    left: 0;
  }
  .mobile-nav__item:nth-of-type(2) & {
    left: -33vw;
  }
  .mobile-nav__item:nth-of-type(3) & {
    left: -67vw;
  }
  &:before {
  	content: '';
  	border-left: 1em solid transparent;
  	border-right: 1em solid transparent;
  	border-bottom: 1em solid $white;
  	position: absolute;
  	top: -0.6em;
  	margin: 0 0 0 -1em;
  	.mobile-nav__item:nth-of-type(1) & {
  	  left: 16.5%;
  	}
  	.mobile-nav__item:nth-of-type(2) & {
  	  left: 50%;
  	}
  	.mobile-nav__item:nth-of-type(3) & {
  	  left: 83.5%;
  	}
  }
}

.mobile-subnav__item {
  list-style: none;
  padding: 0.5em 1em;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $gray;
    color: $white;
  }
}

.mobile-button {
  display: inline-block;
  padding: 2em 0;
  width: 100%;
}