.splash {
  width: 100%;
  background: {
    image: url(../../assets/chillKanga.jpg);
    color: rgba($gray, 0.5);
    blend-mode: multiply;
    position: 80% 20%;
    size: cover;
    repeat: no-repeat;
  }
  height: 80vh;
  min-height: 40rem;
  @media (min-width: 500px) {
    background-position: 50% 20%;
  }
}